<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Blagoj Delipetrev" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!--

   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   Typekit -->
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">Blagoj Delipetrev</a>
    <a class="extra" href="/">home</a>
  </div>

  <div class="contact">
    <p>
      <a href="https://www.linkedin.com/in/blagojdelipetrev/"><img src="/assets/img/linkdin.svg" alt="linkedin" style="width:42px;height:42px;"></a>
      <br />
      <a href="https://twitter.com/BDelipetrev">https://twitter.com/BDelipetrev</a>
      <br />
      <a href="https://www.facebook.com/blagoj.delipetrev">https://www.facebook.com/blagoj.delipetrev</a><br />
<!--
      <a href="http://github.com/deblagoj/">github.com/deblagoj</a><br />

-->
    </p>
  </div>
<!--
{% include navigation.html %}

<br />

<br />
-->

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Blagoj Delipetrev
        <br />

        <br />

      </p>
    </div>


  </div>
</div>






</body>
</html>
